<div class="container">
  <div *ngIf="football">
  <div>
    <label><b>Tên Cầu Thủ: </b></label> {{ football.name }}
  </div>
  <div>
    <label><b>Chiều Cao: </b></label> {{ football.height }}
  </div>
  <div>
    <label><b>Cân nặng: </b></label> {{ football.weight }}
  </div>
  <div>
    <label><b>Địa Chỉ: </b></label> {{ football.address }}
  </div>
  <div>
    <label><b>Giới Tính: </b></label> {{ football.gender }}
  </div>
  <div>
    <label><b>Tiểu Sử: </b></label> {{ football.story }}
  </div>
  <div>
    <label><b>Hình Ảnh: </b></label> {{ football.image }}
  </div>
  </div>
</div>
