<div class="container">
  <div class="panel-body">
    <div class="row">
        <input type="text" class="form-control col-md-8" placeholder="Search by title" [(ngModel)]="name" />
        <button class="btn btn-outline-secondary col-md-1" (click)="getFootballByName()">
            Search
        </button>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>Tên Cầu Thủ</th>
        <th>Chiều Cao</th>
        <th>Cân Nặng</th>
        <th>Địa Chỉ</th>
        <th>Giới Tính</th>
        <th>Tiểu Sử</th>
        <th>Hình Ảnh</th>
        <th>Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let football of footballs">
        <td>{{ football.name }}</td>
        <td>{{ football.height }}</td>
        <td>{{ football.weight }}</td>
        <td>{{ football.address }}</td>
        <td>{{ football.gender }}</td>

        <td>
          <textarea name="story" cols="15" rows="5" [(ngModel)]="football.story"></textarea>
        </td>

        <td>
          <img [src]="football.image" style="width: 120px;height: 100px">
        </td>

        <td>
          <a href="updateFootball/{{ football.id }}"class="btn btn-warning">Sửa</a>
          <button (click)="deleteFootball(football.id)" class="btn btn-danger">Xóa</button>
          <a href="showFootball/{{ football.id }}" class="btn btn-success">Chi Tiết</a>

        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
