
                  <!-- <form>
                    <input type="email" name="email" placeholder="email" [(ngModel)]="email">
                   <input type="password" name="password" placeholder="password" [(ngModel)]="password">
                   <button (click)="getToken()">login</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<body class="bg-gradient-danger">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <input type="email" name ="emailmi" class="form-control form-control-user"
                                                placeholder="email" [(ngModel)]="email" >
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name ="password" class="form-control form-control-user"
                                                 placeholder="password" [(ngModel)]="password">
                                        </div>
                                        <div class="form-group">
                                           
                                            <button class="btn btn-warning btn-user btn-block" (click)="getToken()">login</button>
                                        </div>
                                       
                                    </form>
                                    
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="assest/vendor/jquery/jquery.min.js"></script>
    <script src="assest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <script src="assest/js/sb-admin-2.min.js"></script>
</body>
